
#body{

    color:#f5ebe0;
    text-decoration: none;
    display:flex;
    flex-direction: row;

    height: 60%;
    width: 100%;
    background: #8e9dc7;

}

#nxt_button{
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
    width: 50%;
}

#form_ant{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 60%;
    padding: 2%;
}
#formulario{

    width: 30%;
    display:flex;
    flex-direction: column;
    

}