#mostrar_persona{


    display:flex;
    flex-direction: column;
    margin: 2%;
    height: 60%;
    width: 80;
    background: lightsteelblue;

}

#search{

    width:100%;
    margin-bottom: 2%;

}
#search_result{

    color:#534255;
}